/*
 * Estilos de tu proyecto
 */
 * {
     box-sizing: border-box;
     margin: 0;
 }
 /* Estilos barra de navegación */
.container {
    margin: auto;
    max-width: 1200px;
}
.text-uppercase {
    text-transform: uppercase; 
}
nav {
    background-color: #2c3e50;
    font-family: 'Montserrat'; 
    font-weight: 700;
    overflow: auto;
    padding: 25px 100px;
    /*position: relative;*/
    position: fixed;
    width: 100%;
    z-index: 1000;
}
nav .nav-brand {
    color: #fff;
    font-size: 30px;
    margin-left: 30px;
    text-decoration: none;
}
/* Lista de navegación */
.nav-right {
    right: 12%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
.nav-right ul {
    list-style: none;
    text-decoration: none;
}
.nav-right ul li {
    display: inline-block;
    font-size: 14px;
}
.nav-right ul li a {
    color: #fff;
    margin: 5px;
    text-decoration: none;
}
.nav-right ul li a:hover {
    color: #18bc9c;
}
/* Estilos header */
header {
    background-color: #18bc9c;
    padding: 100px 0 100px; 
}
header figure {
    margin: 80px 0 60px;
    text-align: center;
}
.text-intro {
    text-align: center;
}
.text-intro .name {
    color: #fff;
    font-size: 75px;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
.star {
    margin-bottom: 30px;
}
.star span {
    font-size: 30px;
    color: #fff;
    position: relative;
    top: 5px;
    left: 2px;
}
.star::after {
    content: "";
    width: 110px;
    height: 5px;
    display: inline-block;
    background-color: #fff;
}
.star::before {
    content: "";
    width: 110px;
    height: 5px;
    display: inline-block;
    background-color: #fff;
}
.text-intro p {
    color: #fff;
    font-size: 27px;
    font-weight: 300;
    font-family: 'Lato';
}
/* Estilos portafolio */
#portfolio {
    font-family: 'Lato';
    padding: 100px 0;
}
#portfolio h2 {
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
 #portfolio .star::after {
    content: "";
    width: 100px;
    height: 5px;
    display: inline-block;
    background-color: #2c3e50;
}
#portfolio .star::before {
    content: "";
    width: 100px;
    height: 5px;
    display: inline-block;
    background-color: #2c3e50;
}
#portfolio .star span {
    color: #2c3e50;
}
#portfolio .container {
    overflow: auto;
}
.box {
    float: left;
    margin: 25px;
    width: 350px;
}
.box img {
    display: block;
    width: 100%;
}
.box img:hover {
    opacity: .1;
}
.box a {
    display: inline-block;
}
.box a:hover {
    background-color: #18bc9c;
}
/* Estilos para la section about */
#about .container {
    overflow: auto;
}
#about {
    background-color: #18bc9c;
    font-family: 'Montserrat';
    padding: 100px 0;
}
#about h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.star {
    text-align: center;
}
#about .box {
    float: left;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    width: 380px;
}
.text-left {
    margin-left: 236px;
}
.download {
    margin: 35px 0 0 0;
    text-align: center;
}
.download a {
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
}
.download a:hover {
    background-color: #fff;
    color: #18bc9c;
}
/* Estilos contact */
#contact {
    font-family: 'Montserrat';
    padding: 100px 0;
}
#contact h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
#contact .star::after {
    content: "";
    width: 120px;
    height: 5px;
    display: inline-block;
    background-color: #2c3e50;
}
#contact .star::before {
    content: "";
    width: 120px;
    height: 5px;
    display: inline-block;
    background-color: #2c3e50;
}
#contact .star span {
    color: #2c3e50;
}
form {
    margin-left: 180px;
}
form  input {
    border: none;
    border-bottom: 1px solid #eee;
    display: block;
    font-size: 22px;
    line-height: 90px;
    outline: none;
    width: 70%;
}
/*seleccionar el mesnsaje*/
form input:last-child {
    padding-bottom: 150px;
}
#contact button {
    background-color: #18bc9c;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    margin: 40px 0 0 177px;
    padding: 12px 22px;
}
/* Estilos footer  */
footer {
    background-color: #2c3e50;
    color: #fff;
    font-family: 'Montserrat';
    padding: 80px 0;
    text-align: center;
}
footer .container {
    overflow: auto;
}
footer .box-footer {
    width:  350px;
    height: auto;
    float: left;
    margin-right: 50px;
    text-align: center;
}
.box-footer h4 {
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.box-footer ul {
    padding-left: 5px;
}
.box-footer ul li {
    display: inline-block;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff ; 
    overflow: hidden;
}
.box-footer ul li a {
    color: #fff;
    display: block;
    line-height: 46px;
}
.box-footer ul li:hover {
    background-color: #fff;
}
.box-footer ul li a:hover {
    color: #18bc9c;
}
.box-footer p {
    line-height: 25px;
}
.box-footer p a {
    color: #18bc9c;
    text-decoration: none;
}
.box-footer p a:hover {
    /* se subraye */
    text-decoration: underline;
}
footer .copyright {
    margin-top: 100px;
}
