/*
 * Estilos de tu proyecto
 */
 * {
     box-sizing: border-box;
     margin: 0;
 }
 /* Estilos barra de navegación */
.container {
    margin: auto;
    max-width: 1200px;
}
.text-uppercase {
    text-transform: uppercase; 
}
nav {
    background-color: #2c3e50;
    font-family: 'Montserrat'; 
    font-weight: 700;
    overflow: auto;
    padding: 25px 100px;
    position: relative;
}
nav .nav-brand {
    color: #fff;
    font-size: 30px;
    margin-left: 30px;
    text-decoration: none;
}
.nav-right {
    right: 30%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
.nav-right ul {
    list-style: none;
    text-decoration: none;
}
.nav-right ul li {
    display: inline-block;
    font-size: 14px;
}
.nav-right ul li a {
    color: #fff;
    margin: 5px;
    text-decoration: none;
}
.nav-right ul li a:hover {
    color: #18bc9c;
}
/* Estilos header */
header {
    background-color: #18bc9c;
    padding: 100px 0 100px; 
}
header figure {
    text-align: center;
}
.text-intro {
    text-align: center;
}
.text-intro .name {
    color: #fff;
    font-size: 75px;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
.star-white {
    border: 2px solid #fff;
    width: 60px;
    margin: 25px auto 30px;
}
.text-intro p {
    color: #fff;
    font-size: 27px;
    font-weight: 300;
    font-family: 'Lato';
}
/* Estilos portfolio */
#portfolio {
    font-family: 'Lato';
    padding: 100px 0;
}
#portfolio h2 {
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.star-blue {
    border: 2px solid #2c3e50;
    width: 60px;
    margin: 25px auto 30px;
}
#portfolio .container {
    overflow: auto;
}
.box {
    float: left;
    margin: 25px;
    width: 350px;
}
.box img {
    width: 100%;
}
.box a {
    display: inline-block;
}
.box a:hover {
    background-color: #18bc9c;
}
/* Estilos para la section about */
#about .container {
    overflow: auto;
}
#about {
    background-color: #18bc9c;
    font-family: 'Montserrat';
    padding: 100px 0;
}
#about h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
#about .box {
    float: left;
    color: #fff;
    font-size: 20px;
    width: 380px;
}
.text-left {
    margin-left: 236px;
}
/* Estilos contact */
.contact {
    font-family: 'Montserrat';
    padding: 100px 0;
}
.contact h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
form {
    margin-left: 180px;
}
form  input {
    border: none;
    border-bottom: 1px solid #868E99;
    display: block;
    font-size: 22px;
    line-height: 90px;
    outline: none;
    width: 70%;
}
.contact button {
    background-color: #18bc9c;
}
/* Estilos footer  */
footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}
footer .container {
    overflow: auto;
}
footer .box-footer {
    width:  350px;
    height: auto;
    float: left;
    text-align: center;
}
.box-footer ul li {
    display: inline-block;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff ; 
    text-align: center;   
}